{{ partial "head.html" . }}

<body>

    {{ partial "header.html" . }}

    <div class="container">

        <div class="row">
            <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
                {{ partial "aside.html" . }}
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <header>
                    <div class="panel panel-default card-md">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-body">
                                    <h2> 
                                        {{if eq $.Site.LanguageCode "ru-ru"}} Выпуск {{else}} Issue {{end}}
                                        {{ $f := index .Data.Pages 0}}
                                        {{ $f.Params.issue_name }} 
                                    </h2>
                                    <span class="plank-span">
                                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
                                            {{if eq $.Site.LanguageCode "ru-ru"}} {{dateFormat "02.01.2006" $f.Date }} {{else}} {{dateFormat "1/02/2006" $f.Date }} {{end}}
                                    </span>
                                </div>
                                {{ with .Page.Resources.Get "cover.png" }}
                                    <div class="media-right btn" data-toggle="modal" data-target="#myModal">
                                        <img src="{{ .RelPermalink }}" alt="cover" style="max-height: 200px; height: auto;"/>
                                    </div>
                                {{ end }}
                            </div>
                        </div>  
                    </div>
                    {{ with .Page.Resources.Get "cover.png" }}
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{if eq $.Site.LanguageCode "ru-ru"}} Обложка {{else}} Cover {{end}}</h4>
                              </div>
                              <div class="modal-body">
                                <img src="{{ .RelPermalink }}" class="img-responsive" alt="cover"/>
                              </div>
                            </div>
                          </div>
                        </div>
                    {{ end }}
                </header>

                <article>

                    {{ range .Data.Pages.ByWeight}}
                    <div class="panel panel-default card-md">
                        <div class="panel-body">
                            {{ if .Params.number }}
                            <h2><a href="{{ .Permalink }}">{{.Params.number}}. {{ .Title }}</a></h2>
                            {{ else }}
                            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                            {{ end }}
                            <p class="plank">
                                <span class="plank-span">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{if eq $.Site.LanguageCode "ru-ru"}} {{dateFormat "02.01.2006" .Date }} {{else}} {{dateFormat "1/02/2006" .Date }} {{end}}
                                </span>
                                <span class="plank-span">
                                    <a href="{{ .Site.BaseURL }}issue/{{ .Params.issue}}/"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{ .Params.issue_name }}</a>
                                </span>
                                {{ if .Params.rubric }}
                                <span class="plank-span">
                                     <a href="{{ .Site.BaseURL }}rubric/{{ .Params.rubric}}/"><span class="glyphicon glyphicon-folder-open"></span> {{ .Params.rubric_name }}</a>
                                </span>
                                {{ end}}
                            </p>
                            {{$base := .Site.BaseURL }}{{ if .Params.authors }}

                            <p class="plank">
                                <span class="plank-span">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </span>
                                {{ range .Params.authors }}
                                <span class="plank-span">
                                    {{ $author := .}}
                                    {{ range $key, $value := $.Site.Data.authors}}
                                        {{if eq $author $key}}
                                            <a href="{{ $base }}authors/{{ $author | urlize }}/">{{ replace $value.name " " "\u00A0"}}</a>
                                        {{ end }}
                                    {{end}}
                                    
                                </span> {{ end }}
                            </p>

                            {{ end}}
                        </div>
                    </div>
                    {{ end }}
                </article>
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}

</body>

</html>