{{ partial "head.html" . }}

<body>

    {{ partial "header.html" . }}

    <div class="container">

        <div class="row">
            <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
                {{ partial "aside.html" . }}
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <article>

                    {{ range .Data.Pages }}
                    <div class="panel panel-default card-md">
                        <div class="panel-body">
                            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></12>
                            <p class="plank">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{if eq $.Site.LanguageCode "ru-ru"}} {{dateFormat "02.01.2006" .Date }} {{else}} {{dateFormat "1/02/2006" .Date }} {{end}}
                                <a href="{{ .Site.BaseURL }}issue/{{ .Params.issue}}/"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                {{ .Params.issue_name }}</a>
                            </p>
                        </div>
                    </div>
                    {{ end }}
                </article>
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}

</body>

</html>
