{{ partial "head.html" . }}

<body>

    {{ partial "header.html" . }}

    <div class="container">

        <div class="row">
            <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
                {{ partial "aside.html" . }}
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <article>
                    <div class="panel panel-default card-md">
                        <div class="panel-body">
                            <h2>{{ .Title }}</h2>
                            <p class="plank">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{dateFormat "02.01.2006" .Date }}
                                <a href="{{ .Site.BaseURL }}issue/{{ .Params.issue}}"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                {{ .Params.issue_name }}</a>
                            </p>

                            <p>
                                {{ printf "%#v" .Params.authors }} {{ range .Params.authors }}
                                <li><a href="{{ .Site.BaseURL }}author/{{ . }}">{{ . }}</a> </li>
                                {{ end }}
                            </p>

                            <p>
                                {{ .Content }}
                            </p>

                            <div class="panel-body text-center">
                                <a class="btn btn-primary btn-lg btn-mat" href="{{ .Site.BaseURL }}{{ .Params.file }}" target="_blank" role="button">Открыть PDF файл</a>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}

</body>

</html>