{{ partial "head.html" . }} {{$base := .Site.BaseURL }}

<body>

    {{ partial "header.html" . }}

    <div class="container">

        <div class="row">
            <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
                {{ partial "aside.html" . }}
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <article>
                    <div class="panel panel-default card-md">
                        <div class="panel-body">
                            <h1>{{ .Title }}</h1>
                            <p class="plank">
                                <span class="plank-span">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    {{if eq $.Site.LanguageCode "ru-ru"}} {{dateFormat "02.01.2006" .Date }}
                                    {{else}}{{dateFormat "1/02/2006" .Date }} {{end}}
                                </span>
                                <span class="plank-span">
                                    <a href="{{ .Site.BaseURL }}issue/{{ .Params.issue}}/"><span class="glyphicon glyphicon-book"
                                            aria-hidden="true"></span> {{ .Params.issue_name }}</a>
                                </span>
                                {{ if .Params.rubric }}
                                <span class="plank-span">
                                    <a href="{{ .Site.BaseURL }}rubric/{{ .Params.rubric}}/"><span class="glyphicon glyphicon-folder-open"></span>
                                        {{ .Params.rubric_name }}</a>
                                </span>
                                {{ end}}
                            </p>

                            <p class="plank">
                                <span class="plank-span">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </span>
                                {{ range .Params.authors }}
                                <span class="plank-span">
                                    {{ $author := .}}
                                    {{ range $key, $value := $.Site.Data.authors}}
                                    {{if eq $author $key}}
                                    <a href="{{ $base }}authors/{{ $author | urlize }}/">
                                        {{ replace $value.name " " "\u00A0"}}</a>
                                    {{ end }}
                                    {{end}}

                                </span> {{ end }}
                            </p>

                            {{if .Params.doi}}<p class="plank">
                                <span class="plank-span">
                                    <img src="{{ .Site.BaseURL }}img/doi.png"/ alt="DOI:">
                                    <a href="{{.Params.doi}}">{{.Params.doi}}</a>
                                </span>
                            </p>{{end}}

                            <div class="text-right">
                                <h3>{{$.Site.Params.udc}} {{.Params.udc }}</h3>
                            </div>

                            <p>
                                {{ .Content }}
                            </p>

                            <p class="plank">
                                <span class="plank-span">
                                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                                </span>

                                <span class="plank-span">
                                    {{ range .Params.tags }}
                                    <a href="{{ $base }}tags/{{ . | urlize }}/">{{ replace . " " "\u00A0" }}</a>
                                    {{ end }}
                                </span>

                            </p>

                            {{if isset .Params "doi"}}

                            {{if eq $.Site.LanguageCode "ru-ru"}} 
                            <p class="plank">
                                <span class="plank-span">
                                    <b>Ссылка для цитирования статьи:</b>
                                    {{ $authors := slice }}
                                    {{ range .Params.authors }}

                                        {{ $author := .}}
                                        {{ range $key, $value := $.Site.Data.authors}}
                                            {{if eq $author $key}}
                                                {{ $full_name := split $value.full_name " " }}
                                                {{if eq (len $full_name) 2 }}
                                                    {{ $authors = $authors | append $value.full_name}}
                                                {{else}}
                                                    {{$authors = $authors | append (print (index $full_name 0) " " (slicestr (index $full_name 1) 0 1) "." (slicestr (index $full_name 2) 0 1) ".")}}
                                                {{end}}
                                            {{end}}
                                        {{end}}
                                    {{end}}

                                    <samp><em>{{ delimit $authors ", " }}</em> {{ .Title }}. // Известия вузов. Ядерная энергетика. – {{dateFormat "2006" .Date}}. – № {{ substr  .Params.issue -1 }}. – С. {{ .Params.first_page }}-{{ .Params.last_page }}. DOI: {{.Params.doi}} .</samp>
                                </span>
                            </p>
                            {{else}}
                            <p class="plank">
                                <span class="plank-span">
                                    <b>Link for citing the article:</b>
                                    {{ $authors := slice }}
                                    {{ range .Params.authors }}

                                        {{ $author := .}}
                                        {{ range $key, $value := $.Site.Data.authors}}
                                            {{if eq $author $key}}
                                                {{ $authors = $authors | append $value.name}}
                                            {{end}}
                                        {{end}}
                                    {{end}}

                                    <samp>{{ delimit $authors ", " }} {{ .Title }}. <em>Izvestiya
                                        vuzov. Yadernaya Energetika.</em> {{dateFormat "2006" .Date}}, no. {{ substr  .Params.issue -1 }}, pp. {{ .Params.first_page }}-{{ .Params.last_page }}; DOI: {{.Params.doi}} (in Russian).</samp>
                                </span>
                            </p>
                            {{end}}
                            {{else}}
                            {{if eq $.Site.LanguageCode "ru-ru"}} 
                            <p class="plank">
                                <span class="plank-span">
                                    <b>Ссылка для цитирования статьи:</b>
                                    {{ $authors := slice }}
                                    {{ range .Params.authors }}

                                        {{ $author := .}}
                                        {{ range $key, $value := $.Site.Data.authors}}
                                            {{if eq $author $key}}
                                                {{ $full_name := split $value.full_name " " }}
                                                {{if eq (len $full_name) 2 }}
                                                    {{ $authors = $authors | append $value.full_name}}
                                                {{else}}
                                                    {{$authors = $authors | append (print (index $full_name 0) " " (slicestr (index $full_name 1) 0 1) "." (slicestr (index $full_name 2) 0 1) ".")}}
                                                {{end}}
                                            {{end}}
                                        {{end}}
                                    {{end}}

                                    <samp><em>{{ delimit $authors ", " }}</em> {{ .Title }}. // Известия вузов. Ядерная энергетика. – {{dateFormat "2006" .Date}}. – № {{ substr  .Params.issue -1 }}. – С. {{ .Params.first_page }}-{{ .Params.last_page }}.</samp>
                                </span>
                            </p>
                            {{else}}
                            <p class="plank">
                                <span class="plank-span">
                                    <b>Link for citing the article:</b>
                                    {{ $authors := slice }}
                                    {{ range .Params.authors }}

                                        {{ $author := .}}
                                        {{ range $key, $value := $.Site.Data.authors}}
                                            {{if eq $author $key}}
                                                {{ $authors = $authors | append $value.name}}
                                            {{end}}
                                        {{end}}
                                    {{end}}

                                    <samp>{{ delimit $authors ", " }} {{ .Title }}. <em>Izvestiya
                                        vuzov. Yadernaya Energetika.</em> {{dateFormat "2006" .Date}}, no. {{ substr  .Params.issue -1 }}, pp. {{ .Params.first_page }}-{{ .Params.last_page }} (in Russian).</samp>
                                </span>
                            </p>
                            {{end}}
                            {{end}}

                            

                            <div class="panel-body text-center">
                                <a class="btn btn-primary btn-lg btn-mat" href="{{ .Params.file }}" target="_blank"
                                    role="button">{{$.Site.Params.open}}</a>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}

</body>

</html>