<aside>
    <ul class="list-group aside submenu card-md panel-default">
        <li class="list-group-item aside aside-item active">{{$.Site.Params.search}}</li>
        <li class="list-group-item aside aside-item">
            {{ if eq .Site.LanguageCode "ru-ru" }}
            <div class="ya-site-form ya-site-form_inited_no" onclick="return {'action':'https://yandex.ru/search/site/','arrow':false,'bg':'transparent','fontsize':15,'fg':'#000000','language':'ru','logo':'rb','publicname':'Поиск по nuclear-power-engineering.github.io','suggest':true,'target':'_blank','tld':'ru','type':3,'usebigdictionary':true,'searchid':2275955,'input_fg':'#000000','input_bg':'#ffffff','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':null,'input_placeholderColor':'#000000','input_borderColor':'#7f9db9'}">
                <form action="https://yandex.ru/search/site/" method="get" target="_blank" accept-charset="utf-8"><input type="hidden" name="searchid" value="2275955" /><input type="hidden" name="l10n" value="ru" /><input type="hidden" name="reqenc" value="" /><input type="search" name="text" value="" /><input type="submit" value="Найти" /></form>
            </div>
            <style type="text/css">
                .ya-page_js_yes .ya-site-form_inited_no {
                    display: none;
                }
            </style>
            <script type="text/javascript">
                (function(w, d, c) {
                    var s = d.createElement('script'),
                        h = d.getElementsByTagName('script')[0],
                        e = d.documentElement;
                    if ((' ' + e.className + ' ').indexOf(' ya-page_js_yes ') === -1) {
                        e.className += ' ya-page_js_yes';
                    }
                    s.type = 'text/javascript';
                    s.async = true;
                    s.charset = 'utf-8';
                    s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js';
                    h.parentNode.insertBefore(s, h);
                    (w[c] || (w[c] = [])).push(function() {
                        Ya.Site.Form.init()
                    })
                })(window, document, 'yandex_site_callbacks');
            </script>
            {{ end }} {{ if eq .Site.LanguageCode "en-us" }}
            <div class="ya-site-form ya-site-form_inited_no" onclick="return {'action':'https://yandex.ru/search/site/','arrow':false,'bg':'transparent','fontsize':15,'fg':'#000000','language':'ru','logo':'rb','publicname':'nuclear-power-engineering.github.io search','suggest':true,'target':'_blank','tld':'ru','type':3,'usebigdictionary':true,'searchid':2275957,'input_fg':'#000000','input_bg':'#ffffff','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':null,'input_placeholderColor':'#000000','input_borderColor':'#7f9db9'}">
                <form action="https://yandex.ru/search/site/" method="get" target="_blank" accept-charset="utf-8"><input type="hidden" name="searchid" value="2275957" /><input type="hidden" name="l10n" value="ru" /><input type="hidden" name="reqenc" value="" /><input type="search" name="text" value="" /><input type="submit" value="Найти" /></form>
            </div>
            <style type="text/css">
                .ya-page_js_yes .ya-site-form_inited_no {
                    display: none;
                }
            </style>
            <script type="text/javascript">
                (function(w, d, c) {
                    var s = d.createElement('script'),
                        h = d.getElementsByTagName('script')[0],
                        e = d.documentElement;
                    if ((' ' + e.className + ' ').indexOf(' ya-page_js_yes ') === -1) {
                        e.className += ' ya-page_js_yes';
                    }
                    s.type = 'text/javascript';
                    s.async = true;
                    s.charset = 'utf-8';
                    s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js';
                    h.parentNode.insertBefore(s, h);
                    (w[c] || (w[c] = [])).push(function() {
                        Ya.Site.Form.init()
                    })
                })(window, document, 'yandex_site_callbacks');
            </script>
            {{ end }}
        </li>
    </ul>

    <ul class="list-group aside submenu card-md panel-default">
        <li class="list-group-item aside aside-item active">{{$.Site.Params.journal}}</li>
        {{ range .Site.Menus.journal }}
        <li class="list-group-item aside aside-item"><a href="{{.URL}}">{{.Name}}</a></li>
        {{ end }}
    </ul>

    <ul class="list-group submenu card-md panel-default aside">
        <li class="list-group-item active aside aside-item">{{$.Site.Params.for_authors}}</li>
        {{ range .Site.Menus.for_authors }}
        <li class="list-group-item aside aside-item"><a href="{{.URL}}">{{.Name}}</a></li>
        {{ end }}
    </ul>

    <ul class="list-group submenu card-md panel-default aside">
        <li class="list-group-item active aside aside-item">{{$.Site.Params.for_readers}}</li>
        {{ range .Site.Menus.for_readers }}
        <li class="list-group-item aside aside-item"><a href="{{.URL}}">{{.Name}}</a></li>
        {{ end }}
    </ul>
</aside>