<header>
    <div class="container-fluid lang-switcher text-right head-md">
        <div class="container">
            <ul class="list-inline">
                {{if eq .Site.LanguageCode "ru-ru"}}
                <li class="en">
                    <a href="{{ .Site.BaseURL }}en{{.URL}}" class="language-link" lang="en"><img class="language-icon" typeof="foaf:Image" src="{{ .Site.BaseURL }}img/en.png" width="16" height="12" alt="English" title="English"> English</a>
                </li>
                <li class="ru">
                    <a href="{{ .Permalink }}" class="language-link" lang="ru"><img class="language-icon" typeof="foaf:Image" src="{{ .Site.BaseURL }}img/ru.png" width="16" height="12" alt="Русский" title="Русский"> Русский</a>
                </li>
                {{else}}
                <li class="en">
                    <a href="{{ .Permalink }}" class="language-link" lang="en"><img class="language-icon" typeof="foaf:Image" src="{{ .Site.BaseURL }}img/en.png" width="16" height="12" alt="English" title="English"> English</a>
                </li>
                <li class="ru">
                    <a href="{{ replace .Permalink "en/" "" }}" class="language-link" lang="ru"><img class="language-icon" typeof="foaf:Image" src="{{ .Site.BaseURL }}img/ru.png" width="16" height="12" alt="Русский" title="Русский"> Русский</a>
                </li>
                {{end}}
            </ul>
        </div>
    </div>

    <div class="container-fluid title head-md">
        <div class="container">
            <div class="row">
                <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
                    <img src="{{ .Site.BaseURL }}img/cover.jpg" alt="Journal cover" />
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <div class="caption">
                        <h1>Известия вузов. Ядерная энергетика</h1>
                        <p>Рецензируемый научно-технический журнал.</p>
                        <p>ISSN: 0204-3327</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <nav class="navbar navbar-default hidden-xs visible-sm visible-md visible-lg  head-md" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse navbar-">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Главная</a></li>
                        <li><a href="#">Правила подготовки рукописей</a></li>
                        <li><a href="#">Архив номеров</a></li>
                        <li><a href="#">Подписка</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

    <nav class="navbar navbar-default visible-xs hidden-sm hidden-md hidden-lg  head-md" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse navbar-">
                    <ul class="nav navbar-nav">
                        <li class="active">Общие сведения</li>
                        <li><a href="/editors/">Редакционная коллегия</a></li>
                        <li><a href="/cheef/">Страница главного редактора</a></li>
                        <li class="active">Авторам</li>
                        <li><a href="/documents/">Набор документов, сопровождающий публикацию</a></li>
                        <li><a href="/rules/">Правила оформления статей</a></li>
                        <li>
                            {{ if eq .Site.LanguageCode "ru-ru" }}
                            <div class="ya-site-form ya-site-form_inited_no" onclick="return {'action':'https://yandex.ru/search/site/','arrow':false,'bg':'transparent','fontsize':15,'fg':'#000000','language':'ru','logo':'rb','publicname':'Поиск по nuclear-power-engineering.github.io','suggest':true,'target':'_blank','tld':'ru','type':3,'usebigdictionary':true,'searchid':2275955,'input_fg':'#000000','input_bg':'#ffffff','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':null,'input_placeholderColor':'#000000','input_borderColor':'#7f9db9'}">
                                <form action="https://yandex.ru/search/site/" method="get" target="_blank" accept-charset="utf-8"><input type="hidden" name="searchid" value="2275955" /><input type="hidden" name="l10n" value="ru" /><input type="hidden" name="reqenc" value="" /><input type="search" name="text" value="" /><input type="submit" value="Найти"
                                    /></form>
                            </div>
                            <style type="text/css">
                                .ya-page_js_yes .ya-site-form_inited_no {
                                    display: none;
                                }
                            </style>
                            <script type="text/javascript">
                                (function(w, d, c) {
                                    var s = d.createElement('script'),
                                        h = d.getElementsByTagName('script')[0],
                                        e = d.documentElement;
                                    if ((' ' + e.className + ' ').indexOf(' ya-page_js_yes ') === -1) {
                                        e.className += ' ya-page_js_yes';
                                    }
                                    s.type = 'text/javascript';
                                    s.async = true;
                                    s.charset = 'utf-8';
                                    s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js';
                                    h.parentNode.insertBefore(s, h);
                                    (w[c] || (w[c] = [])).push(function() {
                                        Ya.Site.Form.init()
                                    })
                                })(window, document, 'yandex_site_callbacks');
                            </script> {{ end }} {{ if eq .Site.LanguageCode "en-en" }}
                            <div class="ya-site-form ya-site-form_inited_no" onclick="return {'action':'https://yandex.ru/search/site/','arrow':false,'bg':'transparent','fontsize':15,'fg':'#000000','language':'ru','logo':'rb','publicname':'nuclear-power-engineering.github.io search','suggest':true,'target':'_blank','tld':'ru','type':3,'usebigdictionary':true,'searchid':2275957,'input_fg':'#000000','input_bg':'#ffffff','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':null,'input_placeholderColor':'#000000','input_borderColor':'#7f9db9'}">
                                <form action="https://yandex.ru/search/site/" method="get" target="_blank" accept-charset="utf-8"><input type="hidden" name="searchid" value="2275957" /><input type="hidden" name="l10n" value="ru" /><input type="hidden" name="reqenc" value="" /><input type="search" name="text" value="" /><input type="submit" value="Найти"
                                    /></form>
                            </div>
                            <style type="text/css">
                                .ya-page_js_yes .ya-site-form_inited_no {
                                    display: none;
                                }
                            </style>
                            <script type="text/javascript">
                                (function(w, d, c) {
                                    var s = d.createElement('script'),
                                        h = d.getElementsByTagName('script')[0],
                                        e = d.documentElement;
                                    if ((' ' + e.className + ' ').indexOf(' ya-page_js_yes ') === -1) {
                                        e.className += ' ya-page_js_yes';
                                    }
                                    s.type = 'text/javascript';
                                    s.async = true;
                                    s.charset = 'utf-8';
                                    s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js';
                                    h.parentNode.insertBefore(s, h);
                                    (w[c] || (w[c] = [])).push(function() {
                                        Ya.Site.Form.init()
                                    })
                                })(window, document, 'yandex_site_callbacks');
                            </script> {{ end }}
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

</header>