<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {{$desc := .Site.Params.description }} {{ if .Description }} {{$desc := .Description | markdownify | chomp}} {{ end }}
    <meta name="description" content="{{ substr $desc  0 150}}">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="yandex-verification" content="{{ .Site.Params.yandex }}" />
    <meta name="google-site-verification" content="foOFemX6Xu-x7wv1FNduzB6geveXhQ9TrqBtZwYQBIQ" />
    <meta name="theme-color" content="#2196F3">
    <link rel="icon" href="favicon.ico"> {{ if .IsPage }}
    <link rel="canonical" href="{{.Permalink}}" />
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    {{ else }}
    <title>{{ .Site.Title }}</title>
    {{ end }}

    <!-- Bootstrap core CSS -->
    <link href="{{ .Site.BaseURL }}/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bootstrap-theme.css">

    <!-- Custom styles for this template -->
    <link href="{{ .Site.BaseURL }}/css/journal.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ .Site.BaseURL }}/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ .Site.BaseURL }}/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
