{{ partial "head.html" . }}

<body>
    
    {{ partial "header.html" . }}

    <div class="container">

        <div class="row">
            <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
                {{ partial "aside.html" . }}
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <article>
                    <div class="panel panel-default card-md">
                        <div class="panel-body">
                            <h3>О Журнале</h3> Рецензируемый научно-технический журнал «Известия вузов. Ядерная энергетика» издается
                            на русском языке в Обнинском институте атомной энергетики – филиале федерального государственного
                            автономного образовательного учреждения высшего профессионального образования «Национальный исследовательский
                            ядерный университет «МИФИ» (ИАТЭ НИЯУ МИФИ) более 20 лет (с 1993 г.). Учредители журнала – Государственный
                            комитет Российской Федерации по высшему образованию, Обнинский институт атомной энергетики (1993
                            г.); Министерство общего и профессионального образования Российской Федерации (с 1999 г.); Ядерное
                            общество России (с 2008 г.). Журнал зарегистрирован в Министерстве печати и информации СССР за
                            номером 0110876 от 01.07.1993 г. и перерегистрирован в Государственном комитете Российской Федерации
                            по печати за номером 0110876 от 23.04.1997 г. В соответствии с ГОСТ-7.56-89 «Издания. Международная
                            стандартная нумерация сериальных изданий» журналу присвоен номер ISSN 0204-3327. Журнал входит
                            в систему Российского индекса научного цитирования (РИНЦ). Журнал входит в Перечень ВАК ведущих
                            рецензируемых научных журналов и изданий, в которых должны быть опубликованы основные научные
                            результаты диссертаций на соискание учёной степени доктора и кандидата наук. Журнал издается
                            в печатной форме с периодичностью четыре номера в год объемом от 100 до 180 страниц и имеет идентичную
                            по содержанию полнотекстовую электронную версию, которая после выхода печатного варианта размещается
                            в интернете на сайте Научной электронной библиотеки (www.elibrary.ru), а также на сайте журнала
                            (journal.iate.obninsk.ru). Тематика журнала – технические, технологические, научные и образовательные
                            аспекты ядерной энергетики, а также применение ядерных технологий в различных отраслях. Более
                            подробное представление тематики дано в рубриках журнала: Актуальные проблемы ядерной энергетики.
                            Атомные электростанции. Физика и техника ядерных реакторов. Теплофизика и теплогидравлика. Топливный
                            цикл и радиоактивные отходы. Безопасность, надежность и диагностика ЯЭУ. Материалы и ядерная
                            энергетика. Химия, физика и техника теплоносителей. Вывод из эксплуатации. Экология энергетики.
                            Экономика ядерной энергетики. Методы прямого преобразования ядерной энергии. Моделирование процессов
                            в объектах ядерной энергетики. Ядерная медицина. Физика в ядерной энергетике. Применение ядерных
                            методов и средств. Подготовка кадров. История науки. В журнале публикуются оригинальные обзоры,
                            статьи и письма в редакцию, посвященные фундаментальным и прикладным проблемам ядерной энергетики
                            и ядерным технологиям. Издаются специальные тематические номера журнала. Подписной индекс в Объединенном
                            каталоге «Пресса России» – 27919.
                        </div>
                    </div>

                </article>
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}
    
</body>

</html>
